/*
    CSS variables to be used for the site
*/
:root {
    --base-font-size: 1.2rem;
    --font-0-style: "corben", "Montserrat", sans-serif;
    --deep-dark-blue: #111827;
    --white: #ffffff;
    --bright-pastel-green: #01c16a;
}

/*
    boiler plate to set the box-sizing to border-box
*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-0-style);
    font-size: var(--base-font-size);
    margin: 0;
    padding: 0;
    background: lightgray; /* TODO: Decide on background color*/
}

/*
    Set the nav to an absolute position and set to the top left of the screen. Make it cover the entire display
    with a white background by setting the width and height to 100vw and vh, respectively. Hide it by setting
    opacity to 0.
*/
nav {
    background-color: lightgray;
    position: absolute;
    z-index: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%; /* vw (view width) units include the width of the vertical scroll bar, too */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: transform 0.5s ease,
                opacity 1s ease,
                visibility 1s ease;
}

.nav-ul {
    list-style-type: none;
    margin: 1rem auto 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    align-items: center;
}

/*
    Set the list in the nav menu to be 5% off the screen upward to animate it coming in when opened.
*/
nav .nav-ul {
    color: red;
    transform: translateY(-5%);
    transition: all 0.8s ease;
}

/*
    Animate the nav menu by setting background opacity to 1 and translating the nav menu list items down
    into view.
*/
#nav-bar.open {
    z-index: 2;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease;
    
    .nav-ul {
        color: blue;
        transform: translateY(10%);
        transition: transform 0.8s ease;
    }
}

/*
    Hamburger menu icon styling
*/
.hamburger-nav {
    width: 1.7em;
    height: 1.7em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}
.hamburger-nav:hover {
    cursor: pointer;
}
.top-bar,
.middle-bar,
.bottom-bar {
    background-color: black;
    width: auto;
    height: 4px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/*
    Animate the little bars in the hamburger menu to form an 'X'
    When no space between class names: Element that has .top-bar and .open classes
    When space between class names: Element with .open class inside of element with .top-bar class
*/
.top-bar.open {
    transform: translate(0, 0.73em) rotate(-45deg);
}
.middle-bar.open {
    opacity: 0;
}
.bottom-bar.open {
    transform: translate(0, -0.73em) rotate(45deg);
}

/* styling for the header and the navigation title */
header {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid black;
    box-shadow: 0px 0.1px 5px black;
}

.nav-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-title p {
    margin: 0;
    line-height: 1.5em;
}

/* styling for the footer and contact me section */
footer {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: solid 2px black;
    box-shadow: 0px -0.1px 5px black;
    text-align: center;
}

footer h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.footer-text {
    margin: 0;
    padding: 0;
}

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    line-height: 1.5em;
}

footer .icons {
    width: 50%;
    font-size: var(--base-font-size);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    svg {
        width: 36px;
        height: 36px;
        fill: black;
        stroke: none;
    }

    svg:hover {
        fill: darkblue;
    }

    svg:active {
        fill: midnightblue;
    }
}

/* This @media used to prevent the header list from animating when shrinking 
    the width to be of a mobile width */
@media(min-width: 800px) {
    nav {
        transition: all 0s;
    }
}

/* Styling for desktop/larger displays when there is a display width of at least 850 pixels */
@media(min-width: 850px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        gap: 7rem;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: lightgray;
    }
    nav {
        opacity: 1;
        position: static;
        width: auto;
        height: auto;
        overflow: auto;
        visibility: visible;

        .nav-ul {
            display: flex;
            flex-flow: row wrap;
            flex: auto;
            margin: auto;
            justify-content: center;
            align-items: center;
            gap: 7rem;
        }
    }

    nav .nav-ul {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-nav {
        display: none;
        visibility: hidden;
    }
}