/* styling for the main info section that wraps all of the info */
.info-section-container {
    text-align: center;

    ul {
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0;
        gap: 0.5rem;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 2.5rem;
    }
    
    img {
        margin: 0.5em 0;
    }
}

/* only style the p that are direct children of info-section-container class */
.info-section-container > p {
    padding: 0 0.5em;
    max-width: 650px;
}

/* styling for the project sections and the elements in the project info */
.section-wrapper {
    border-radius: 10px;
    padding-top: 1rem;
    max-width: 500px;
    gap: 0;
}

.project-information {
    display: flex;
    flex-flow: column nowrap;
    text-align: start;
    align-items: flex-start;
    padding: 0 0 1em 0.7em;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.3em;
}

h3 {
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2em;
}

.section-info {
    margin: 0;
    padding-top: 1em;
    font-family: "Montserrat";
    line-height: 1.4em;
}

/* Styling for desktop/larger displays when there is a display width of at least 850 pixels */
@media(min-width: 850px) {
    .info-section-container {
        h1 {
            font-size: 3.5rem;
        }
    }

    .info-section-container > p {
        padding: 0;
        max-width: 700px;
    }
    
    .section-info {
        font-weight: 500;
        font-size: 1.1em;
    }

    .section-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "img info"
            "img butn";
        column-gap: 1em;
        row-gap: 0;
        margin: 1.5rem 1rem;
        padding: 1.3em 1.2em;
        max-width: 850px;

        .section-info {
            max-width: none;
            margin: 0.5em 0;
            padding: 1em 0 0 0;
            font-size: 0.8em;
            line-height: 1.6em;
        }
    }

    button {
        grid-column: 2;
        grid-row: 2;
        grid-area: butn;
        /*margin: 0 auto;*/ /* use this if you want to center the button in its grid area */
        width: 100px;
    }

    img {
        grid-area: img;
        margin: 0;
        aspect-ratio: 15 / 9;
    }

    .project-information {
        grid-area: info;
        padding: 0 0 0.5em 0;
    }

    h2 {
        padding-bottom: 0.3em;
    }

    h3 {
        padding-left: 0;
    }
}