/* styling for the main element that holds all data*/
.project-info-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    min-width: 300px;
    max-width: 900px;
}

/* styling for the list of project files */
.project-file-container {
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16 / 9;

    .project-file-list {
        display: flex;
        flex-flow: row nowrap;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;

        video {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
            border: solid 2px red;
            flex-shrink: 0;
            scroll-snap-align: center;
        }

        img {
            flex-shrink: 0;
            scroll-snap-align: center;
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }
    }
}

.project-info-container.leave {
    animation-name: leave;
    animation-duration: 0.5s;
}

.project-info-container.enter {
    animation-name: enter;
    animation-duration: 0.5s;
}

@keyframes leave {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes enter {
    from {
        transform: translateY(-5%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}