/*
    CSS variables to be used for the site
*/
:root {
    --base-font-size: 1.2rem;
    --font-0-style: "corben", "Montserrat", sans-serif;
    --deep-dark-blue: #111827;
    --white: #ffffff;
    --bright-pastel-green: #01c16a;
}

/*
    boiler plate to set the box-sizing to border-box
*/
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-0-style);
    font-size: var(--base-font-size);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 1rem auto 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    align-items: center;
}

/*
    Set the nav to an absolute position and set to the top left of the screen. Make it cover the entire display
    with a white background by setting the width and height to 100vw and vh, respectively. Hide it by setting
    opacity to 0.
*/
nav {
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: transform 0.5s ease,
                opacity 1s ease;
}

/*
    Set the list in the nav menu to be 5% off the screen upward to animate it coming in when opened.
*/
nav ul {
    color: red;
    transform: translateY(-5%);
    transition: transform 0.8s ease;
}

/*
    Animate the nav menu by setting background opacity to 1 and translating the nav menu list items down
    into view.
*/
#nav-bar.open {
    z-index: 2;
    opacity: 1;
    transition: opacity 1s ease;
    
    ul {
        color: blue;
        transform: translateY(10%);
        transition: transform 0.8s ease;
    }
}

/*
    Hamburger menu icon styling
*/
.hamburger-nav {
    width: 1.7em;
    height: 1.7em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}
.hamburger-nav:hover {
    cursor: pointer;
}
.top-bar,
.middle-bar,
.bottom-bar {
    background-color: black;
    width: auto;
    height: 4px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

/*
    Animate the little bars in the hamburger menu to form an 'X'
    When no space between class names: Element that has .top-bar and .open classes
    When space between class names: Element with .open class inside of element with .top-bar class
*/
.top-bar.open {
    transform: translate(0, 0.73em) rotate(-45deg);
}
.middle-bar.open {
    opacity: 0;
}
.bottom-bar.open {
    transform: translate(0, -0.73em) rotate(45deg);
}

header {
    display: grid;
    grid-template-columns: 10fr 1fr;
    margin: 0;
    padding: 1rem 2rem 1rem 1rem;
    align-items: center;
    gap: 1em;
    border-bottom: 2px solid black;
    box-shadow: 0px 0.1px 5px black;
}

.nav-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

.nav-title p {
    margin: 0;
    line-height: 1.5em;
}

@media(min-width: 800px) {
    nav {
        transition: all 0s;
    }
}

@media(min-width: 850px) {
    header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        gap: 7rem
    }
    nav {
        opacity: 1;
        position: static;
        width: auto;
        height: auto;
        overflow: auto;

        ul {
            display: flex;
            flex-flow: row wrap;
            flex: auto;
            margin: auto;
            justify-content: center;
            align-items: center;
            gap: 7rem;
        }
    }

    nav ul {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-nav {
        display: none;
        visibility: hidden;
    }
}